
ul{
    padding: 0 1em;
}

.post{
    margin: 4em 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #444;
}

.post-header{
    text-align: center;
}

.title{
    font-size: 40pt;
    line-height: 40px;
}

.data{
    padding: 1em 0;
    color: #888 !important;
}

.post p{
    margin: .5em 0;
    font-weight: 400;
    color: #444;
}