.header{
    background: none;
    height: 7em;
}

.brand{
    color: #fefefe;
}

.navbar{
    background-color: #0e0e0e;
    color: #fefefe !important;
}

img{
    width: 124%;
    margin: 1em 0;
    margin-left: -12%;
    border-radius: 2px;
    box-shadow: 0 3px 9px rgba(0,0,0,.1);
}

.post p{
    margin: 1em 0;
}

.post{
    padding: 1em;
    background-color: #FFF !important;
    box-shadow: 0 3px 9px rgba(0,0,0,.1);
    border-radius: 3px;
}

.title{
    font-weight: 900 !important;
    font-size: 40pt;
    line-height: 1em;
    font-family: 'Roboto', sans-serif;
}

.data{
    margin: 1em 0;
}

.autor{
    font-weight: 600;
}

@media screen and (min-width: 1000px) {
    section{
        width: 60% !important;
    }

    .header{
        height: 10em;
    }

    .post{
        padding: 2em;
    }
}